In [7]:
# Importando os dados
import pandas as pd

In [3]:
# Lendo o DataFrame
df = pd.read_csv("train.csv")

In [15]:
# Criando o dataframe auxiliar
aux = pd.DataFrame({'colunas': df.columns, 'tipos': df.dtypes, 'percentual_faltantes': df.isna().sum() / df.shape[0]})

In [16]:
aux

                 colunas    tipos  percentual_faltantes
PassengerId  PassengerId    int64              0.000000
Survived        Survived    int64              0.000000
Pclass            Pclass    int64              0.000000
Name                Name   object              0.000000
Sex                  Sex   object              0.000000
Age                  Age  float64              0.000000
SibSp              SibSp    int64              0.000000
Parch              Parch    int64              0.000000
Ticket            Ticket   object              0.000000
Fare                Fare  float64              0.000000
Cabin              Cabin   object              0.771044
Embarked        Embarked   object              0.002245

In [11]:
# Preenchendo os valores faltantes de idade, utilizando a média das idades disponíveis
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [17]:
# A coluna Cabin possui 77% dos dados faltantes, a melhor opção, caso possível, seria descartá-la.
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [23]:
df.Cabin.value_counts()

Unknown        687
G6               4
B96 B98          4
C23 C25 C27      4
F2               3
              ...
E63              1
E58              1
C82              1
B30              1
D47              1
Name: Cabin, Length: 148, dtype: int64

In [28]:
# Mostra a quantidade de linhas
df.shape[0]

891